.collection a[href="#catalog-menu-desktop"],
.collection a[href="#catalog-menu"]{
  display:none!important}
.grid-responsive{
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:box;
  display:flex;
  -webkit-box-direction:normal;
  -moz-box-direction:normal;
  -webkit-box-orient:horizontal;
  -moz-box-orient:horizontal;
  -webkit-flex-direction:row;
  -ms-flex-direction:row;
  flex-direction:row;
  -webkit-flex-wrap:wrap;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-bottom:8vw}
.grid-responsive>*{
  width:100%;
  overflow:hidden;
  margin-bottom:10vw}
.holder{
  position:relative}
.img-bg{
  width:100%;
  height:auto}
#collection-title{
  font-size:13.88vw;
  font-weight:100}
.collection-text{
  text-transform:uppercase;
  font-size:5vw;
  font-style:italic}
.collection-title-shades-bigger{
  font-size:8vw !important}
.content-text{
  padding:0
20vw}
.share-collection{
  margin:30px
0 0 0;
  text-align:center}
.share-collection .share-title{
  font-size:20px;
  margin:0
0 10px 0;
  width:100%}
.share-icons>img{
  height:40px;
  width:40px;
  cursor:pointer}
.share-icons>a>img{
  height:40px;
  width:40px}
@media only screen and (max-width: 720px){
  .grid-responsive{
  text-align:center}
.align-sm-left{
  left:0;
  transform:none}
#collection-title{
  margin:2rem auto 0}
.collection-text{
  overflow:hidden;
  margin:0
-15vw 1rem}
}
@media only screen and (min-width: 721px){
  .col-md-50{
  position:relative;
  width:50%}
.grid-responsive{
  margin-bottom:-5vw}
.grid-responsive>*{
  margin-bottom:5vw}
[data-width="5"]{
  width:5%}
[data-width="10"]{
  width:10%}
[data-width="15"]{
  width:15%}
[data-width="20"]{
  width:20%}
[data-width="25"]{
  width:25%}
[data-width="30"]{
  width:30%}
[data-width="35"]{
  width:35%}
[data-width="40"]{
  width:40%}
[data-width="45"]{
  width:45%}
[data-width="55"]{
  width:55%}
[data-width="60"]{
  width:60%}
[data-width="65"]{
  width:65%}
[data-width="70"]{
  width:70%}
[data-width="75"]{
  width:75%}
[data-width="80"]{
  width:80%}
[data-width="85"]{
  width:85%}
[data-width="90"]{
  width:90%}
[data-width="95"]{
  width:95%}
#collection-title{
  font-size:6.667vw}
.collection-text{
  font-size:2.86vw}
.content-text{
  padding:0
6.5%}
.small-space{
  padding:0
2.5%}
}
@media only screen and (min-width: 1024px){
  .grid-responsive{
  margin-bottom:-25px}
.grid-responsive>*{
  margin-bottom:70px}
#collection-title{
  font-size:86px}
.collection-text{
  font-size:36px}
.content-text{
  padding:0
50px}
.small-space{
  padding:0
25px}
}
.collection #quick-clicks{
  background-color:#c6ecf2}
.collection #quick-clicks
a{
  color:#000}
#collection-title{
  color:#8dd9e4;
  text-decoration:none}
.collection-text{
  color:#cfbbe6}
.collection-text-black{
  color:black}
.collection-text-smaller{
  font-size:30px}
@media only screen and (min-width: 721px){
  #palmtrees{
  transform:translateY(25%)}
}
@media only screen and (max-width: 1024px){
  #catalog-listing{
  margin-top:0!important}
}
@media only screen and (min-width: 1025px){
  .collection{
  padding:0}
}
