.forgot_password_page h2,
.reset_password_page
h2{
  font-size:28px;
  font-weight:300;
  line-height:120%;
  font-family:'Playfair Display',serif;
  padding:0.9em;
  text-align:center;
  border-bottom:1px solid #d7d7d7;
  text-transform:none}
.forgot_password_page p,
.reset_password_page
p{
  font-size:14px;
  text-align:center;
  padding:20px}
.forgot_password_page .form,
.reset_password_page
.form{
  width:50%;
  margin:0
auto}
.reset_password_page
a{
  margin:0
auto;
  display:table}
