.promotion a[href="#catalog-menu-desktop"],
.promotion a[href="#catalog-menu"]{
  visibility:hidden}
.promotion .promo-holder{
  background-size:cover;
  height:21.57vw;
  background-repeat:no-repeat;
  width:100%}
.promotion
.legal_footer{
  font-size:9.5px;
  text-align:center;
  padding-top:5px;
  padding-bottom:15px}
.promotion .promo-holder.pink{
  background-image:url(/images/promo/promo-pink-en.jpg)}
.fr .promotion .promo-holder.pink{
  background-image:url(/images/promo/promo-pink-fr.jpg)}
.promotion .promo-holder.clear{
  background-image:url(/images/promo/promo-clear-en.jpg)}
.fr .promotion .promo-holder.clear{
  background-image:url(/images/promo/promo-clear-fr.jpg)}
.promotion .promo-holder.cateye{
  background-image:url(/images/bandeau_cateye.jpg)}
.fr .promotion .promo-holder.cateye{
  background-image:url(/images/bandeau_cateye.jpg)}
@media only screen and (max-width: 1024px){
  .promotion
.legal_footer{
  font-size:16px;
  text-align:center;
  padding:10px}
}
.promotion .page-banner
h1{
  font-size:42px}
.promotion .page-banner
p{
  font-size:23px;
  line-height:1.5}
