*{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;box-sizing:border-box
    }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent
    }
blockquote,q{
    quotes:none
    }
blockquote:before,blockquote:after,q:before,q:after{
    content:'';content:none
    }
p{
    margin:0 0 1em;
    line-height:1.15
    }
a{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
    }
a:hover,a:active{
    outline:none
    }
del{
    text-decoration:line-through
    }
abbr[title],dfn[title]{
    border-bottom:1px dotted;
    cursor:help
    }
sub{
    vertical-align:sub;
    font-size:smaller}
sup{
    vertical-align:super;
    font-size:smaller
    }
small{
    font-size:85%
    }
:focus{
    outline:none
    }
table{
    border-collapse:collapse;
    border-spacing:0
    }
table,td,th{
    vertical-align:top
    }
    hr{
        display:block;
        height:1px;
        border:0;
        border-top:1px solid #f1f1f2;
        margin:1em 0;
        padding:0
    }
input,select{
    vertical-align:middle
    }
input[type="checkbox"]{
    vertical-align:bottom
    }
input[type="radio"]{
    vertical-align:text-bottom
    }
input[type=submit]{
        vertical-align:inherit
        }
textarea{
    font-family:inherit;
    font-size:1em;
    resize:none
    }
button::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="reset"]::-moz-focus-inner{
    padding:0 !important;
    border:0 none !important
    }
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}audio,canvas,video{
    display:inline-block;
    zoom:1
    }
audio:not([controls]){
    display:none
    }
[hidden]{
    display:none
    }