.table-max {
    display: table; clear: both; margin: 0 auto;
    width: 100%; max-width: 1200px;
}

.promo {
    font-family: 'brandon-grotesque', sans-serif;
}

.promo img { width: 100%; height: auto; }
.promo .promo-text { width: 100%; }

.promo .h1,
.main-promo .h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'brandon-grotesque', sans-serif;
}

.main-promo .text { font-weight: 100; }

.home .discover .h4 { font-weight: 500; }

.home .discover .table-cell { padding: 0; width: 33%; position: relative; }
.home .discover .table-cell img { width: 100%; height: auto; }
.home .discover a { font-family: 'brandon-grotesque', sans-serif; font-weight: 500; }

.home .front-frames img {
    display: block;
    clear: both;
    margin: 0 auto;
    max-width: 75%;
}
.home .front-frames .grid > * { text-align: center; }
.home [class*=icon-] img { width: 100%; height: auto; }

.promo-top { position: relative; top: -13%; padding: 0 0 0 20%;}
.promo-bottom { position: relative; top: -10%; padding: 0 0 0 20%;}

.container-max {
    width: 100%; max-width: 1200px; margin: 0 auto;
    overflow: hidden; clear: both;
}

.main-promo .button { min-width: 200px; padding: 15px; }
.promo .h2, .button { letter-spacing: 1px; }
.front-frames-title { font-size: 22px; font-weight: 400; margin-top: 20px; display: block; }
.promo .text { font-weight: 400; }

/* MOBILE only
/*-------------------------------------------------------------- */
@media only screen and (max-width: 720px) {

    .table-cell { padding: 4%; }

    .main-promo .button { min-width: 150px; }

    .main-promo--split { height: 100vw; }

    .promo {
        background: transparent none !important;
        width: 100%; margin: 8% auto; overflow: hidden;
    }
    .promo img { width: 200%; max-width: 200%; }

    .promo .h1 {font-size: 6vw;}
    .promo .h2 {font-size: 5.5vw;}
    .promo .text {font-size: 4vw;}


    .main-promo .h1 { font-size: 6vw; }
    .main-promo .text { font-size: 4vw; }

    .home .social-holder {
        display: block; clear: both; overflow: hidden;
        padding: 8% 0;
    }
    .home .social-holder .button { margin: 8% auto; }

    .home .front-frames { margin: 4% 0;}
    .home .front-frames .grid > * {
        display: block;
        width: 100%;
        padding: 4% 0;
    }

    .promo-top { top: 0; padding: 0; }
    .promo-bottom { top: 0; padding: 0;}

    .home .discover .h4,
    .home .about-bonlook .h4 {
        text-align: center;
        margin: 0 0 2% 0;
    }
}

/* MOBILE and TABLETS
/*-------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

    #shop-sunglasses, #shop-eyeglasses { font-size: 14px !important; }

.home .discover { position: relative; /*padding-top: 12%;*/ }

    .home .discover .table-cell { width: 49%; }
    .home .discover .table-cell:first-child { margin-right: 2%; }

    .home .discover .table-cell span {
        display: block; margin: 4% 0;
        font-size: 175%; font-size: 3.8vw;
    }

    .home .discover br { display: none; }

    .main-promo { margin-top: -3px !important; }

}

/* TABLET and DESKTOP
/*-------------------------------------------------------------- */
@media only screen and (min-width: 721px) {

    .promo .promo-text { width: 50%;padding:0 2%; }

    .promo.main-promo,
    .promo.main-promo-split {
        width: 100%; height: 56.25vw;
    }
    .promo {
        background-size: cover; /*100%;*/
        background-repeat: no-repeat;
        background-position: center top;
        width: 100%; height: 39.58vw;
        margin-top: 4vw;
    }

    .promo.front-frames { margin: 4vw auto; height: auto; }

    .promo:first-of-type { margin-top:0; }

    .home .social-holder {
        display: -webkit-flex; -webkit-flex-flow: column-reverse; /* Safari 6.1+ */
        display: -moz-flex; -moz-flex-flow: column-reverse; /* Safari 6.1+ */
        display: -ms-flexbox; -ms-flex-flow: column-reverse; /* IE10 */
        display: flex; flex-flow: column-reverse;
        width: 100%; text-align: center;
        margin: 8% auto;
    }

    .home .discover .content-holder { padding-left: 10px; padding-right: 10px; }
    .home .discover .table-cell { width: 32.5%; margin-left: 1.25%; }
    .home .discover .table-cell:first-child { margin: 0%; }
    .home .discover .table-cell span {
        position: absolute; top: 50%; left: 50%;
        width: 100%; margin: -5% 0 0 -50%;
        font-size: 22px; color: #fff;
    }
    .home .discover .table-cell br { display: block;}

    .home .about-bonlook .content-holder, #page_eyeglasses .about-bonlook .content-holder,
    #page_sunglasses .about-bonlook .content-holder { padding-left: 20px; padding-right: 20px; line-height: 25px; }

}

/* TABLET only
/*-------------------------------------------------------------- */
@media only screen and (min-width: 721px) and (max-width: 1024px) {

    .home .social-holder .h3 { margin: 0;}
    .home .social-holder .button { margin: 25px auto;}

    .home .discover { padding: 40px 0; }

    .home .discover .h4,
    .home .about-bonlook .h4 {
        position: absolute; top: -3%; left: 50%;
        -ms-transform: translateX(-50%); /* IE 9 */
        -webkit-transform: translateX(-50%); /* Safari */
        transform: translateX(-50%);
        background: #fff; padding: 0 2%; margin: 0;
    }

    .home .about-bonlook { padding-top: 40px; }


    .promo-top { position: relative; top: -1%; padding: 0 0 0 20%;}
    .promo-bottom { position: relative; top: -1%; padding: 0 0 0 20%;}

}

/* @DESKTOP
/*-------------------------------------------------------------- */
@media only screen and (min-width: 1025px) {

    .page.catalog #main {
        max-width: 1200px;
    }

    #main { position: relative; top: 158px; margin-bottom: 158px; z-index: 1; margin-left: auto; margin-right: auto; }

    .promo.main-promo,
    .promo.main-promo-split { max-height: 675px; }
    .promo { max-height: 475px; }

    .promo { margin-top: 40px; }
    .promo .h1 {font-size: 40px;}
    .promo .h2, .promo .text { font-size: 24px; }
    .front-frames h2.h2 { font-size: 32px; padding-bottom: 10px; }

    .main-promo .h1 { font-size: 44px; }
    .main-promo .text { font-size: 27px; }

    .home .social-holder { margin: 40px auto; }
    .home .social-holder .h3 { margin: 0 0 20px 0; font-size: 30px; }
    .home .social-holder .button { margin: 40px auto;}

    .home .discover { max-width: 1200px; margin: 0 auto; text-align: center; }
    .home .discover .h4 { display: block; margin: 40px auto; padding: 0; font-size: 32px; clear: both; }
    .home .discover .content-holder { padding-left: 0; padding-right: 0; margin: 0 auto; width: 100%; }
    .home .discover .table-cell { width: 30%; margin-left: 5%; }
    .home .discover .table-cell:first-child { margin: 0%; }
    .home .discover .table-cell span { font-size: 30px; letter-spacing: 1px; }

    .home .front-frames .grid { max-width: 75%; margin-left: auto; margin-right: auto; }
    .home .front-frames img { max-width: 90%; }

    .home .about-bonlook { max-width: 70%; margin: 0 auto; text-align: center; }
    .home .about-bonlook .h4 { display: block; margin: 40px auto; padding: 0; font-size: 28px;}
    .home .about-bonlook .content-holder { padding-left: 50px; padding-right: 50px; font-size: 14px; line-height: 25px; }

    .promo-top { position: relative; top: -5%; padding: 0 0 0 28%;}
    .promo-bottom { position: relative; top: -5%; padding: 0 0 0 28%;}

    #footer_container { max-width: 1200px; border-top: none; }
}

@media only screen and (min-width: 1700px) {
    .promo-top { position: relative; top: -0%; padding: 0 0 0 20%;}
    .promo-bottom { position: relative; top: -0%; padding: 0 0 0 20%;}
}
