#cart-upsell-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.8;
    filter: alpha(opacity = 80) !important;
    display: none;
    z-index: 1000;

}

#cart-upsell-overlay-content {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: none;
    /*overflow: hidden;*/
    z-index: 1000;
}

#cart-upsell-overlay-large-image {
    position: absolute;
    cursor: pointer; float: left;
    width: 100%; left: 50%; top: 0;
    margin-left: -50%; margin-right: auto;
    background-color: #fff;

}

.cart-upsell-overlay-close-icon {
    /*display: block;
    float: left;*/
    z-index: 9;
    width: 6%;
    margin: 1% 45%;
    position: absolute;
}

.cart-upsell-overlay-close-icon img { width: 50%; }

/*-------------------------------------------------------------- */
/* MOBILE and TABLETS
/*-------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {
    .cart-upsell-overlay-close-icon { width: 12%; margin: 1% 36%; }
    #cart-upsell-overlay-large-image { width: 98%; left: 50%; margin-left: -49%; }
}
